@charset 'UTF-8';

$jSerifFontFamily: Georgia, serif;

$jSansFontFamily: Lato, Helvetica, sans-serif;

$custom-font-family: $jSerifFontFamily;

$font-size: 125 !default;

$small-print-size: 78% !default;

$pull-quote-fontsize: 4em !default;
$pull-quote-opacity: 0.5 !default;
$pull-quote-color: $gray-light;

@import "../../components/typeplate/scss/typeplate";

body {
  counter-reset: figCounter;
}

.hyphens,
p {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  @include css-hyphens(auto);

  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-before: 3;
}

@media print {
  p {
    orphans: 3;
    widows: 3;
  }
}

.nohyphens,
pre, code, var, kbd, samp, tt, abbr, acronym {
  @include css-hyphens(none);
}

.small-print-font-size {
  @include type-scale(14, $font-base, '#{$type-scale-unit-value}', "");
}

.small-title-font-size {
  @include type-scale(16, $font-base, '#{$type-scale-unit-value}', "");
}

.leader-font-size {
  @include type-scale(28, $font-base, '#{$type-scale-unit-value}', $measure);
}

.quote-font-size {
  @include type-scale(26, $font-base, '#{$type-scale-unit-value}', $measure);
}

.drop-cap-font-size {
  @include type-scale(114, $font-base, '#{$type-scale-unit-value}', "");
}

.menu {
  font-family: $jSansFontFamily;
}

.menu-titles {
  @extend .menu;
  @extend .small-title-font-size;
  //text-rendering: optimizeLegibility;
  letter-spacing: .15rem;
}

.small-italics {
  font-style: italic;
  @extend .small-print-font-size;
  //text-rendering: optimizeLegibility;
  color: $gray !important;
}

.decorated-italics {
  @extend .small-italics;
  text-align:center;
  &::before {
    content: '~';//'⟜';//⁓
    padding-right: .5rem;
    font-style: normal;
  }
  &::after {
    content: '~';//'⟞';
    padding-left: .5rem;
    font-style: normal;
  }
}

::selection {
  color: $heading-color;
  background: rgba(247, 255, 0, 0.3);
}

.leader-text {
  @extend .leader-font-size;
  //text-rendering: optimizeLegibility;
  text-align: center;
}

.quote-text {
  @extend .quote-font-size;
  //text-rendering: optimizeLegibility;
  text-align: center;
}

.underlined {
  border-bottom: 1px solid $link-color-light;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  @extend .transition-all;
}

#site-name:focus,
#site-name:hover,
#site-name:active {
  color: $link-color !important;
}

a:focus,
a:hover,
a:active {
  color: $link-color;
  outline: none;
}

nav {
  color: $gray-light;
  a:link,
  a:visited {
    color: $gray-lighter;
  }
  a:focus,
  a:hover,
  a:active {
    color: $link-color;
  }
}

button {
  @extend .zeta;
  font-weight: 400;
  color: $gray !important;
  cursor: pointer;
}

header a.url,
.tldr {
  @extend .decorated-italics;
}

.tldr {
  line-height: $line-height;
}

cite a:link,
cite a:visited,
p a:link,
p a:visited {
  @extend .underlined;
}

.bio-leader {
  @extend .leader-text;
  @extend .nohyphens;
}

p.drop-cap::first-letter {
  padding: 0.07em .02em 0 0;
  @extend .drop-cap-font-size;
  @extend %hN;
  //margin: -.080em 0 -.07em 0;
  line-height: 4.1rem;
  height: $grid-unit;
  color: $heading-color;
}

p.break-before {
  @include column-break(before, always);
}

p > small {
  @extend .small-italics
}

p.note {
  text-indent: 0;
  margin-top: 0;
  line-height: 1.3;
}

a.note {
  color: $gray-light;
  border-bottom: none !important;
  &:focus,
  &:hover,
  &:active {
    color: $link-color;
  }
}

p strong {
  font-weight: bold;
}

del {
  color: $gray-light;
}

ins {
  text-decoration: none;
  border-bottom:1px dashed $gray-light;
}

sub, sup {
  line-height: 0;
  position: relative;
  margin-left: -0.45em;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

figure {
  counter-increment: figCounter;
}

blockquote {
  // @include blockquote('');
  @extend .quote-text;
  font-style: italic;
  // @include pull-quotes(inherit, $pull-quote-opacity, $pull-quote-color);
  padding: $grid-unit !important;
  background: #f8f8f8;
  margin-bottom: 0;

}

blockquote p {
  @extend .centred-h;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote p:first-child:before {
  content: '“';
}

blockquote p:last-of-type:after {
  content: '”';
}

blockquote + figcaption {
  text-align: center;
  width: 100%;
  padding: 0 $grid-unit;
  line-height: 1.3;
  //background-color: rgba(255,255,255, 0.7);
}

figcaption cite:before{
  //content: 'fig. ' counter(figCounter) '. -';
}

cite,
cite small {
  @extend .small-italics;
}

h1,h2,h3,h4,h5,h6  {
  //font-style: normal;
  // font-family: $jTitlesFontFamily;
  font-weight: 600;
  color: $heading-color;
}

nav h3 {
  @extend .zeta;
}

nav .title,
.section-title {
  @extend .small-italics;
}

.cv {

  dl {
    @include jdefinition-list-style("lining");
  }
  dt {
    @extend .small-italics;
  }
  dl.date,
  dl.job,
  dl.company {
    dt,dd {
      line-height: 2rem !important;
      margin: 0 !important;
    }
    dd[itemprop="jobTitle"] {
      //font-weight: bold;
      //@extend .delta;
      @extend .quote-font-size;
      @extend %hN;
      line-height: $grid-unit !important;
      //color: $heading-color;
    }
  }

  dt::after{
    font-style: normal;
    // font-size: 1rem;
    line-height: $grid-unit;
    height: $grid-unit;
  }
  dl.date dd,
  dd[itemprop="name"] {
    @extend .small-title-font-size;
    font-style: normal;
    color: $body-copy-color !important;
  }
  .role {
    text-align: left;
  }
}

footer {
  p.small {
    @extend .small-italics;
  }
}

@media (max-width: 512px) {

}
