//@import "../vendor/compass_twitter_bootstrap/variables";
//@import "foundation/variables";

// COLOURS

$background-color: #fdfdfd;

$link-color: rgba(205, 178, 0, 1);//92,200,0, 0.5);

$link-color-light: rgba(205, 178, 0, 0.5);

$gray-dark: lighten(#000, 20%) !default;

$gray: lighten(#000, 60%) !default;

$gray-light: lighten(#000, 75%) !default;

$gray-lighter: lighten(#000, 90%) !default;

$body-copy-color: #555 !default;

$heading-color: #111 !default;

// MEASUREMENTS

$grid-unit: 1.65rem;

$grid-unitx2: $grid-unit * 2;

$grid-unitx3: $grid-unit * 3;

$grid-unitx4: $grid-unit * 4;

$grid-unitx6: $grid-unit * 6;

$indent-val: $grid-unit !default;

